
.pixel-grid {
    background: repeating-conic-gradient(#4c4c4c 0 25%, #555 0 50%);
    background-size: 25px 25px;

    display: flex;
    flex-direction: column;
    width: fit-content;

    border-width: 1px;
    border-style: solid;
    border-color: #999 #777 #777 #999;
}
.pixel-row {
    display: flex;
    flex-direction: row;
}
.pixel {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.pixel-disabled {
    border-width: 5px;
    border-style: solid;
    border-color: #777 #999 #999 #777;
}