$primaryColor: rgb(45, 45, 45);
$primaryTextColor: white;
$borderColor: rgb(110, 110, 110);
$menubarHeight: 50px;

:root {
    --model-dimensions-length: 0;
    --model-dimensions-width: 0;
    --model-dimensions-height: 0;

    --grid-y: 0;
    --grid-x: 0;
    --grid-scale: 0;
    --grid-dimensions-width: calc(var(--model-dimensions-length));
    --grid-dimensions-height: calc(var(--model-dimensions-height));
    --grid-width: calc(var(--grid-scale) * var(--grid-dimensions-width));
    --grid-height: calc(var(--grid-scale) * var(--grid-dimensions-height));
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
}

.menubar {
    width: 100%;
    height: $menubarHeight;
    background-color: $primaryColor;
    padding: 5px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $borderColor;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    > div {
        display: flex;
        gap: 30px;
    }

    &__item {
        color: $primaryTextColor;

        &:hover {
            opacity: 0.5;
        }
    }
}

main {
    width: 100%;
    height: 100%;
}

@mixin side-window {
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: $primaryColor;
    position: absolute;
    top: $menubarHeight;
    z-index: 5;
}

#tools-window {
    @include side_window;
    border-right: 2px solid $borderColor;

    
    left: 0;
}

#textures-window {
    @include side_window;
    border-left: 2px solid $borderColor;

    right: 0;
}

#canvas-window {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;    
}

#pixel-grid-bg {
    background-image: repeating-conic-gradient(#4c4c4c 0 25%, #555 0 50%);
    background-size: 25px 25px;
    background-position: center;
    
    width: 100%;
    height: 100%;
    clip-path: rect(
        calc((var(--grid-y) - var(--grid-height)/2) * 1px)
        calc((var(--grid-x) + var(--grid-width)/2) * 1px)
        calc((var(--grid-y) + var(--grid-height)/2) * 1px)
        calc((var(--grid-x) - var(--grid-width)/2) * 1px)
    );
}

#pixel-grid {
    width: calc(var(--grid-width) * 1px);
    height: calc(var(--grid-height) * 1px);

    display: grid;
    grid-template-columns: repeat(var(--grid-dimensions-width), 1fr);
    grid-template-rows: repeat(var(--grid-dimensions-height), 1fr);

    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(var(--grid-y) * 1px);
    left: calc(var(--grid-x) * 1px);
}

.pixel {
    box-sizing: border-box;
}

.pixel-disabled {
    border-width: calc(var(--grid-scale) * 0.2px);
    border-style: solid;
    border-color: rgba(110, 110, 110, 0.7) rgba(140, 140, 140, 0.7) rgba(140, 140, 140, 0.7) rgba(110, 110, 110, 0.7);
}